<div class="price-elem col-xs-12">
	<div class="row">
		<div class="col-xs-12 col-md-8 text-center text-left-md mp-nazwa">{{mp_nazwa}}</div>
		<div class="col-xs-12 col-md-4 text-center text-right-md mp-cena">{{mp_cena}} zł</div>
	</div>
</div>